/* .it-footer-bg {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .it-footer-text p {
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .it-footer-text p {
      font-size: 15px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-footer-text p {
      font-size: 15px;
    }
    .it-footer-text p br {
      display: none;
    }
  }
  .it-footer-social a {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    background-color: #4d5756;
    line-height: 45px;
    text-align: center;
    color: #fff;
    transition: 0.3s;
  }
  .it-footer-social a:not(:last-child) {
    margin-right: 7px;
  }
  .it-footer-social a:hover {
    background-color: #0ab99d;
    color:#fff;
  }
  .it-footer-title {
    font-size: 22px;
    font-weight: 700;
    padding-top: 10px;
    text-transform: capitalize;
    color:#fff;
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px),
    only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-footer-title {
      font-size: 20px;
    }
  }
  .it-footer-list ul li {
    list-style-type: none;
    position: relative;
    padding-left: 30px;
  }
  .it-footer-list ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .it-footer-list ul li a {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    display: inline;
    background-size: 0% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s linear;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px),
    only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-footer-list ul li a {
      font-size: 15px;
    }
  }
  .it-footer-list ul li a:hover {
    background-size: 0% 1px, 100% 1px;
  }
  .it-footer-list ul li a i {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
  }
  .it-footer-thumb img {
    border-radius: 5px;
  }
  .it-footer-top-icon span {
    font-size: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    margin-right: 30px;
    border: 1px solid rgba(244, 244, 244, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .it-footer-top-icon span {
      font-size: 20px;
      height: 50px;
      width: 50px;
      line-height: 50px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-footer-top-icon span {
      font-size: 20px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      margin-right: 15px;
    }
  }
  .it-footer-top-icon span .phone {
    transform: rotate(89deg);
  }
  .it-footer-top-text span {
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 7px;
    color: #22a3d1;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-footer-top-text span {
      font-size: 12px;
    }
  }
  .it-footer-top-text a {
    color:#fff;
    font-family:  "Epilogue", sans-serif;;
    font-size: 26px;
    font-weight: 700;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
    display: inline;
    background-size: 0% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s linear;
  }
  .it-footer-top-text a:hover {
    background-size: 0% 1px, 100% 1px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .it-footer-top-text a {
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .it-footer-top-text a {
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-footer-top-text a {
      font-size: 13px;
    }
  }
  .it-footer-top-info {
    position: relative;
    padding: 60px 0;
  }
  @media (max-width: 767px) {
    .it-footer-top-info {
      padding: 15px 0;
    }
  }
  .it-footer-top-info::after {
    position: absolute;
    content: "";
    top: 0;
    right: -24px;
    width: 1px;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-footer-top-info::after {
      display: none;
    }
  }
  .it-footer-top-info.border-none::after {
    display: none;
  }
  .it-footer-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .it-footer-top-col-2 {
    padding-left: 75px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .it-footer-top-col-2 {
      padding-left: 50px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-footer-top-col-2 {
      padding-left: 0;
    }
  }
  .it-footer-top-col-2.it-footer-top-info::after {
    right: -55px;
  }
  .it-copyright-height {
    background-color: #222;
    padding: 19px 0;
  }
  .it-copyright-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px),
    only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .it-copyright-text p {
      font-size: 14px;
    }
  }
  .it-copyright-text p a {
    font-weight: 700;
    color: #0ab99d;
  }
  .it-copyright-text p a.blue {
    color: #22a3d1;
  }
  .it-copyright-right a {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    transition: 0.3s;
  }
  .it-copyright-right a:not(:last-child) {
    margin-right: 30px;
  }
  .it-copyright-right a:hover {
    color: #22a3d1;
  }
  .footer-col-2 {
    padding-left: 35px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .footer-col-2 {
      padding-left: 0;
    }
  }
  .footer-col-3 {
    margin-left: -15px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .footer-col-3 {
      margin-left: 0;
    }
  }
  .footer-col-4 {
    margin-left: 35px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .footer-col-4 {
      margin-left: 0;
    }
  }
  .footer-col-6 {
    margin-left: -30px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px),
    only screen and (min-width: 768px) and (max-width: 991px),
    (max-width: 767px) {
    .footer-col-6 {
      margin-left: 0;
      margin-right: 20px;
    }
  }
  .footer-col-7 {
    transform: translateX(25px);
  }
  @media (max-width: 767px) {
    .footer-col-7 {
      transform: translateX(0px);
    }
  }
  .footer-col-8 {
    padding-left: 40px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px),
    (max-width: 767px) {
    .footer-col-8 {
      padding-left: 0;
    }
  }
  .it-footer-style-5 .it-footer-social a:hover {
    background-color:#22a3d1;
    color: #fff;
  } */



  /* Table style */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Table header style */
th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Table row style */
tr {
  border: 1px solid #ddd;
}

/* Table cell style */
td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Alternating row background color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on rows */
tr:hover {
  background-color: #ddd;
}
footer .f-items.default-padding {
  padding-top: 0;
}

footer .footer-bttom {
  text-align: center;
}

.footer-bottom .text-right {
  text-align: center !important;

}
.bg-dark {
  background: #760000 !important;
}
footer .f-items.default-padding {
  padding-top: 70px;
}

footer .item {
  margin-top: 50px;
}

footer .f-item p {
  color: #fff;
}

footer .f-item.branches {
  background: rgba(255, 255, 255, 0.05);
  padding: 37px;
  border-bottom: 2px solid #1ebeb6;
}

footer .widget-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
}

footer img {
  margin-bottom: 30px;
}

footer .branches li strong {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

footer .branches li {
  margin-bottom: 20px;
  color: #96aac1;
}

footer .branches li:last-child {
  margin: 0;
}

footer .f-item.link li {
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  padding-left: 16px;
}

footer .f-item.link li:last-child {
  margin-bottom: 0;
}

footer .f-item a {
  font-weight: 600;
  color: #fff;
}

footer .f-item a:hover {
  color: #ffffff;
}

 footer .f-item.link li::after {
  position: absolute;
  left: 0;
  top: 12px;
  content: "";
  height: 6px;
  width: 6px;
  background: rgba(255, 255, 255, 0.4);
  z-index: -1;
  border-radius: 50%;
} 

footer .address h5 {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}

footer .address span {
  color: #fff;
}

footer .address span i {
  margin-right: 5px;
  font-size: 20px;
  position: relative;
  top: 2px;
  color: #ffffff;
}

footer .address li {
  display: flex;
  margin-top: 30px;
}

footer .address li i {
  font-size: 30px;
  min-width: 50px;
  display: inline-block;
}


/* Footer Bottom */
footer .footer-bottom li {
  display: inline-block;
  margin-left: 20px;
}

footer .footer-bottom {
  background: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}

footer .footer-bottom p {
  margin: 0;
}

.footer-bottom i {
  margin-right: 5px;
}

.footer-bottom a {
  font-weight: 600;
}






/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {


.side {
  padding: 50px;
  width: 400px;
}

/* Blog */
.comments-list .commen-item .content, 
.comments-list .commen-item .avatar {
  display: table-cell;
  text-align: left;
}

.comments-list .commen-item .content {
  width: auto;
}

.comments-list .commen-item .avatar {
  float: none;
  height: 80px;
  width: 80px;
  margin: inherit;
}

.comments-list .commen-item .content .title {
  margin-top: 0;
}

.comments-list .commen-item .content {
  padding-left: 25px;
}

.comments-list .commen-item .content .title {
  margin-top: 0;
}

.blog-area.single .post-pagi-area {
  text-align: inherit;
}

.blog-area.single .post-pagi-area a:last-child {
  float: right;
}
}



/* Custom Width Layout: 600px. */
@media only screen and (max-width: 600px) {

.about-area ul li {
  width: 100%;
  margin-top: 25px;
}

.about-area ul li:first-child {
  margin-top: 15px;
}
}

/* Custom Width Layout: 400px. */
@media only screen and (max-width: 400px) {

.department-items .item .info .head-of p strong {
  display: block;
}
}
#foo-head{
  margin-top: 30px;
}

#foo-span{
  color: #fff;
}